<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container { max-width: 600px; margin-top: 50px; }
    </style>
</head>
<body>
<div th:replace="~{fragment/nav :: navbar}"></div>
<div class="container">
    <div class="py-5 text-center">
        <h2>게시글 등록</h2>
    </div>
    <form th:action="@{/post/new}" th:object="${postForm}" method="post">
        <div class="mb-3">
            <label th:for="title" class="form-label">제목</label>
            <input type="text" th:field="*{title}"
                   th:errorclass="is-invalid"
                   class="form-control" placeholder="제목을 입력하세요">
            <div class="invalid-feedback" th:errors="*{title}">
                제목 검증 오류 메시지
            </div>
        </div>

        <div class="mb-3">
            <label th:for="content" class="form-label">내용</label>
            <textarea th:field="*{content}"
                      th:errorclass="is-invalid"
                      class="form-control" rows="5" placeholder="내용을 입력하세요"></textarea>
            <div class="invalid-feedback" th:errors="*{content}">
                내용 검증 오류 메시지
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="row">
                <div class="col">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">저장</button>
                </div>
                <div class="col">
                    <a th:href="@{/post/list}" class="w-100 btn btn-secondary btn-lg">취소</a>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>