<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>System Error</title>
</head>
<body class="bg-light">
<div th:replace="~{fragment/nav :: navbar}"></div>

<div class="container text-center" style="margin-top: 100px;">
    <div class="py-5">
        <h1 class="display-1 fw-bold text-danger" th:text="${errorCode}">ERR</h1>
        <h2 class="fw-bold my-4">시스템 알림</h2>
        <p class="lead mb-5" th:text="${errorMessage}">오류가 발생했습니다.</p>
        <hr class="my-5">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/" class="btn btn-primary btn-lg px-4 gap-3">메인으로 이동</a>
            <button onclick="history.back();" class="btn btn-outline-secondary btn-lg px-4">이전 페이지</button>
        </div>
    </div>
</div>
</body>
</html>